*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
  width: 50%;
  padding-top: 7%;
  padding-left: 10%;
}
.half-width img{
    width:60%;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.orange-color{
    color: orange;
}
.p_margin{
    margin-top: 40px;
    margin-bottom: 40px;
}
#border{
    border-left: 8px solid;
    padding: 0px 10px 0px 10px;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    border-radius: 10px;
    margin-bottom: 20px;   
}
#text_space{
    text-align: center;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding: 15px 30px;
    color: white;
    font-weight: 400;
    font-size: 25px;
    border-radius: 5px;
    margin-top:10%;
    margin-bottom: 50px;

}
#mission{
margin-left: 10%;
margin-right: 10%;
margin-bottom: 5%;
}
.one-third{
    width: 25%;
    margin-top: 5%;
    margin-right: 4%;
    border-radius: 10px;
    background-color: brown;
    padding-left: 3%;
}
#first-box{
    padding:3%;
    background-color: antiquewhite;   
}
#secound-box{
    padding:3%;
    background-color: antiquewhite;    
}
#third-box{
    padding:3%;
    background-color: aqua; 
}
.one-third img{
    width: 50%;
}