*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 70px;
}
.half-width{
  width: 50%;
  padding-top: 7%;
  padding-left: 10%;
}
.half-width-project{
  width: 45%;
  padding: 3%;
  margin-top: 3%;
  margin-right: 5%;

  box-shadow: 10px 10px 40px grey;
}
.half-width-project img{
    width: 100%;
    height: 100%;
    justify-content: center;
}
.forty-sixty-width{
  width: 40%;
  padding-top: 7%;
  padding-left: 10%;
}
.forty-sixty-width img{
    width: 90%;
}
.sixty-forty-width{
  width: 60%;
  padding-top: 8%;
  padding-right: 13%;
  text-align: left;
}
.sixty-forty-width img{
    width: 60%;
    
}

.fifty-five-fourty-five-width{
  width: 55%;
  padding-top: 7%;
  padding-left: 10%;
  padding-right: 5%;
}
.fourty-five-fifty-five-width{
  width: 45%;
  padding-top: 3%;
  padding-right: 10%;
  text-align: left;
  background-image: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position-x: 80%;
  background-position-y: 65%;
}

.fourty-five-fifty-five-width img{
    width: 90%;
    
}

.half-width img{
    width:60%;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 30px;
}
p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.orange-color{
    color: orange;
}
.p_margin{
    margin-top: 40px;
    margin-bottom: 40px;
}
#border{
    border-left: 8px solid;
    padding: 0px 10px 0px 10px;
    border-image: linear-gradient(orange, tomato );
    border-image-slice: 1;
    border-radius: 10px;
    margin-bottom: 20px;   
}
#text_space{
    text-align: center;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding: 15px 30px;
    color: white;
    font-weight: 400;
    font-size: 25px;
    border-radius: 5px;
    margin-top:10%;
    margin-bottom: 50px;

}
#mission{
margin-left: 10%;
margin-right: 10%;
}
.one-third{
    width: 25%;
    margin-top: 5%;
    margin-right: 4%;
    border-radius: 10px;
    background-color: brown;
    padding-left: 3%;
}
#first-box{
    padding:3%;
    background-color: #EDF5F6;   
}
#secound-box{
    padding:3%;
    background-color: #FFEEEE;    
}
#third-box{
    padding:3%;
    background-color: #FFF4D6; 
}
.one-third img{
    width: 50%;
}
#background{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 12%;
    background-position-y: 70%;
}
footer{
text-align: center;
padding: 2%;
background-color: #0B0D17;
color: antiquewhite;
}