*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
  width: 50%;
  padding-top: 7%;
  padding-left: 10%;
}
.half-width img{
    width:60%;
}
h1{
    font-size: 55px;
}
p{
    font-size: 20px;
}
.orange-color{
    color: orange;
}
.p_margin{
    margin-top: 40px;
    margin-bottom: 40px;
}
#border{
    border-left: 8px solid;
    padding: 0px 10px 0px 10px;
    border-image: linear-gradient(salmon,tomato);
    border-image-slice: 1;
    border-radius: 10px;
    margin-bottom: 20px;
    
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    padding: 15px 30px;
    color: white;
    font-weight: 400;
    font-size: 25px;
    border-radius: 5px;
    margin-top:10%;
    margin-bottom: 50px;

}